---
import Container from "./Container.astro";
import Cart from "./Cart";
// @ts-ignore
import ShoppingCart from 'astro-feather-icons/ShoppingCart';
import { Image } from 'astro:assets';
import logo from '../assets/logo.png'
---

<header class="fixed left-0 w-full top-0 bg-white z-40 ">
    <Container classes="flex justify-between py-3">
        <div class="w-44 relative">
            <Image quality="mid" loading="eager" height="100" src={logo} alt="logo" class="absolute left-0 top-0 h-full w-auto object-contain object-left"/>
        </div>
        <Cart client:load><ShoppingCart /></Cart>
    </Container>
</header>